<mat-toolbar [ngClass]="favoriteTheme" color="primary" class="main-bar">
    <button mat-icon-button aria-label="home icon button" routerLink="/home">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-flat-button aria-label="Material page" color="primary" routerLink="/recipes" class="main-menu-buttons">Recettes HP</button>
    <button mat-flat-button aria-label="About page" color="primary" routerLink="/about" class="main-menu-buttons">About</button>
    <button mat-flat-button aria-label="Material page" color="primary" routerLink="/material" class="main-menu-buttons" disabled="true">
        Material
    </button>
</mat-toolbar>
